body {
	padding-top: 20px; 
}

#play-again > button {
	display: block;
	margin: 0 auto;
	margin-top: 20px;
}

.letter {
	display: inline-block;
	margin: 5px 5px 0px 5px;
	width: 50px;
	height: 50px;
	text-align: center;
	padding-top: 10px;
	border-radius: 10px;
	font-size: 20px;
}

.word-character {
	height: 40px;
	width: 20px;
	display: inline-block;
	margin-right: 5px;
}

.place-holder {
	border-bottom: 1px solid black;
}

#final-result {
	font-weight: 900;
	font-size: 40px;
	color: #351f39;
}

#play-again {
	margin-top: 20px; 
}

/* the following rule has been added because without it, you will notice 
 * that the alphabet is indented and doesn't line up with the navigation bar
 * if that is the layout you would prefer, then omit the following rule.
 * This happens because by default, ul has padding.
 * We add this rule to override that
 */ 
#alphabet > ul {
	padding: 0 0 0 0;  
}

#final-result {
	font-weight: 900;
	font-size: 40px;
	color: #351f39;
}


/* Alphabet letters active and inactive
   ------------------------------------- */
li.active {
	background-color: #a0c1b8;
	border: 1px solid #a0c1b8;
}

li.active:hover {
	background-color: rgba(217, 237, 247, 0);
	color: #a0c1b8;
	border: 1px solid #a0c1b8;
}

li.inactive {
	background-color: #d9edf7;
	border: 1px solid #d9edf7;
	color: #a0c1b8;
}

/* Hang man 
   ------------------------------------ */  
#hangman > div {
	border-bottom: 5px solid black;
    border-bottom: 5px solid black;
    border-left: 5px solid black;
    height: 250px;
    width: 50%;
    margin: 30px auto;
}

#hangman-upperborder {
	height: 50px;
    width: 50%;
    border-top: 5px solid black;
    border-right: 5px solid gray;
}

.stickman-head {
	height: 50px;
    width: 50px;
    margin: 0 auto;
    background-color: black;
    border-radius: 30px;
}

#stickman-body {
	width: 50px;
    margin: -2px auto;
}

.stickman-rarm, .stickman-rleg {
	height: 60px;
	width: 6px;
	background-color: black;
	display: inline-block;
	-ms-transform: rotate(45deg);
	-webkit-transform: rotate(45deg);
	transform: rotate(45deg);
	float: left;
}

.stickman-larm, .stickman-lleg {
	height: 60px;
	width: 6px;
	background-color: black;
	display: inline-block;
	-ms-transform: rotate(45deg);
	-webkit-transform: rotate(45deg);
	transform: rotate(-45deg);
	float: right;
}

.stickman-torso {
	height: 90px;
    width: 6px;
    background-color: black;
    margin: -2px auto;
}

#stickman-legs {
	width: 50px;
    margin: -9px auto;
}